<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :sample_input %><br />
    <%= f.text_area :sample_input %>
  </div>
  <div class="field">
    <%= f.label :sample_output %><br />
    <%= f.text_area :sample_output %>
  </div>
  <div class="field">
    <%= f.label :sample_curl_command %><br />
    <%= f.text_field :sample_curl_command %>
  </div>
  <div class="field">
    <%= f.label :ws_url %><br />
    <%= f.text_field :ws_url %>
  </div>
  <div class="field">
    <%= f.label :sc_url %><br />
    <%= f.text_field :sc_url %>
  </div>
  <div class="field">
    <%= f.label :home_url %><br />
    <%= f.text_field :home_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
