<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <th style="width:10em"><%= f.label :title %></th>
    <td><%= f.text_field :title %></td>
  </tr>

  <tr>
    <th>Category</th>
    <td>
      <%= f.select(:category, options_for_select([
        ['Template generation'],
        ['Disambiguation'],
        ['Query generation'],
        ['Answer generation'],
        ['Rendering'],
        ['Parser'],
        ['Semantic computing'],
        ['Control'],
        ['Evaluation'],
        ['Other'],
      ])) %>
    </td>
  </tr>

  <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_area :description, cols:80 %></td>
  </tr>

  <tr>
    <th><%= f.label :user %></th>
    <td><%= current_user.email %></td>
  </tr>

  <tr>
    <th><%= f.label 'Source-code URL' %></th>
    <td><%= f.text_field :sc_url %></td>
  </tr>
  <tr>
    <th><%= f.label 'Homepage URL' %></th>
    <td><%= f.text_field :home_url %></td>
  </tr>
  <tr>
    <th><%= f.label 'Web service URL' %></th>
    <td><%= f.text_field :ws_url %></td>
  </tr>
  <tr>
    <th><%= f.label 'Sample cURL command' %></th>
    <td><%= f.text_field :sample_curl_command, placeholder: "The placeholder, _sample_input_, will be substituted by the value of the field, Sample input." %></td>
  </tr>
  <tr>
    <th><%= f.label :sample_input %></th>
    <td><%= f.text_area :sample_input %></td>
  </tr>
  <tr>
    <th><%= f.label :sample_output %></th>
    <td><%= f.text_area :sample_output %></td>
  </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
