<h2>List</h2>

<div class='control'>
<span class='button'><%= link_to 'New Component', new_component_path %></span>
</div>
<table class="list">
  <tr>
    <th style="width:10em">Title</th>
    <th style="width:10em">Category</th>
    <th>Description</th>
    <th style="width:15em">Maintainer</th>
  </tr>

<% @components.each do |component| %>
  <tr>
    <td><%= link_to component.title, component %></td>
    <td><%= link_to_category(component.category).html_safe %></td>
    <td><%= strip_tags(component.description) %></td>
    <td><%= component.user.email %></td>
  </tr>
<% end %>
</table>

<div class='control'>
<span class='button'><%= link_to 'New Component', new_component_path %></span>
</div>