<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @component.title %>
</p>

<p>
  <b>Category:</b>
  <%= @component.category %>
</p>

<p>
  <b>Description:</b>
  <%= @component.description %>
</p>

<p>
  <b>Sample input:</b>
  <%= @component.sample_input %>
</p>

<p>
  <b>Sample output:</b>
  <%= @component.sample_output %>
</p>

<p>
  <b>Sample curl command:</b>
  <%= @component.sample_curl_command %>
</p>

<p>
  <b>Ws url:</b>
  <%= @component.ws_url %>
</p>

<p>
  <b>Sc url:</b>
  <%= @component.sc_url %>
</p>

<p>
  <b>Home url:</b>
  <%= @component.home_url %>
</p>


<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
