<h2><%= @component.title %></h2>

<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'List', components_path %>


<table>
<tr>
  <th>Category:</th>
  <td><%= @component.category %></td>
</tr>

<tr>
  <th>Description:</th>
  <td><%= @component.description.html_safe %></td>
</tr>

<tr>
  <th>Web service URL:</th>
  <td><%= @component.ws_url %></td>
</tr>

<tr>
  <th>Source-code URL:</th>
  <td><a href="<%= @component.sc_url %>"><%= @component.sc_url %></a></td>
</tr>

<tr>
  <th>Homepage URL:</th>
  <td><a href="<%= @component.home_url %>"><%= @component.home_url %></a></td>
</tr>

<tr>
  <th>Sample input:</th>
  <td><pre class="sample"><%= @component.sample_input %></pre></td>
</tr>

<tr>
  <th>Sample output:</th>
  <td><pre class="sample"><%= @component.sample_output %></pre></td>
</tr>

<tr>
  <th>Sample cURL command:</th>
  <td><%= @component.sample_curl_command %></td>
</tr>

</table>
